$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$pureWhiteColor: #fff;
$backgroundColor: #84a178;
$mainColorText: #fcfcfc;
$secondaryColorText: #131313;
$acentColor: #f8d24e;
$adressColor: #d6936d;
$timeColor: #ababab;
$rightReservColor: #7a7a7a;
$btnFocusColor: #0a8817;
$timeDuration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$firstCardColor: #aec6a5;
$secondCardColor: #efd478;
$thirdCardColor: #d6936d;
$acentColorTransparent: #F8D24EB2;

