<div class="backdrop-products backdrop-products--is-hidden" data-modal-milkshake>
  <div class="modal-products modal--icecream">
    <button class="modal-closebtn" type="button" data-modal-milkshake-close>
      <svg class="modal-closebtn__icon" width="20" height="20">
        <use href="./images/header.svg#icon-closeblack"></use>
      </svg>
    </button>
      <p class="modal-products__title modal-products__title--milkshake">Mango Milkshake</p>
<div class="modal-products__img-wrap modal-products__img-wrap--milkshake"></div>
<ul class="modal-products__list">
    <li class="modal-products__item modal-products__item--milkshake">
      <span class="modal-products__item-wrap modal-products__item-wrap--milkshake">185</span>
      <p class="modal-products__text">kcal</p>
    </li>
    <li class="modal-products__item modal-products__item--milkshake">
      <span class="modal-products__item-wrap modal-products__item-wrap--milkshake">11g</span>
      <p class="modal-products__text">Prote...</p>
    </li>
    
    <li class="modal-products__item modal-products__item--milkshake">
      <span class="modal-products__item-wrap modal-products__item-wrap--milkshake">4g </span>
      <p class="modal-products__text">Fats</p>
    </li>
   
    <li class="modal-products__item modal-products__item--milkshake">
      <span class="modal-products__item-wrap modal-products__item-wrap--milkshake">31g </span>
      <p class="modal-products__text">Carbs</p>
    </li>
   
</ul>
<div class="modal-products__description">
Ingredients
<ul class="modal-products__ingredients"> 
  <li class="modal-products__contain">Mango  <span>2 pcs</span></li>
  <li class="modal-products__contain">Milk<span>300 ml</span></li>
  <li class="modal-products__contain">Sugar Syrup <span>1 tbsp</span></li>
  <li class="modal-products__contain">Ice Cubes <span>3 pcs</span></li>
  <li class="modal-products__contain">Mixture <span>1</span></li>
  <li class="modal-products__contain">Chilled glass <span>1</span></li>
</ul>
</div>
<form action="" class="modal-products__form">
    <ul class="modal-products__form-list">
        <li class="modal-products__form-item">
            <label for="name-shake" class="form__label"
                >
                <input
                  type="text"
                  class="form__input "
                  name="name-shake"
                  id="name-shake"
                  placeholder="Name" />
                </li>
        <li class="modal-products__form-item">
            <label for="phone-shake" class="form__label"></label>
              <input
                type="tel"
                class="form__input "
                name="phone-shake"
                id="phone-shake"
                placeholder="Phone"
              />
        </li>
        <li class="modal-products__form-item">
            <label for="text-shake" class="form__label"></label>
              <textarea
                name="text"
                id="text-shake"
                placeholder="Comment"
                class="form__input form__input--text"
              ></textarea>
        </li>
    </ul>
    <button class="form__button" type="button">Submit</button>
</form>
  </div>
</div>
