<section class="products" id="ourproducts">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <span class="products__item-wrap products__item-wrap--icecream"></span>
        <h3 class="products__text products__text--icecream">ice cream</h3>
        <p class="products__description products__description--icecream">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          class="products__btn products__btn--icecream"
          data-modal-icecream-open
        >
          <svg class="modal-btn__icon">
            <use href="./images/header.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <span class="products__item-wrap products__item-wrap--icecoffee"></span>
        <h3 class="products__text products__text--icecoffee">ice coffee</h3>
        <p class="products__description products__description--icecoffee">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="button"
          class="products__btn products__btn--icecoffee"
          data-modal-icecoffee-open
        >
          <svg class="modal-btn__icon">
            <use href="./images/header.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <span class="products__item-wrap products__item-wrap--milkshake"></span>
        <h3 class="products__text products__text--milkshake">milkshakes</h3>
        <p class="products__description products__description--milkshake">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="button"
          class="products__btn products__btn--milkshake"
          data-modal-milkshake-open
        >
          <svg class="modal-btn__icon">
            <use href="./images/header.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
