<div class="backdrop-products backdrop-products--is-hidden" data-modal-icecoffee>
  <div class="modal-products modal--icecream modal--hidden">
    <button class="modal-closebtn" type="button" data-modal-icecoffee-close>
      <svg class="modal-closebtn__icon" width="20" height="20">
        <use href="./images/header.svg#icon-closeblack"></use>
      </svg>
    </button>
      <p class="modal-products__title modal-products__title--icecoffee">Lemon Rum Iced Coffee</p>
<div class="modal-products__img-wrap modal-products__img-wrap--icecoffee"></div>
<ul class="modal-products__list">
    <li class="modal-products__item modal-products__item--icecoffee">
      <span class="modal-products__item-wrap modal-products__item-wrap--icecoffee">320</span>
      <p class="modal-products__text">kcal</p>
    </li>
    <li class="modal-products__item modal-products__item--icecoffee">
      <span class="modal-products__item-wrap modal-products__item-wrap--icecoffee">4g</span>
      <p class="modal-products__text">Prote...</p>
    </li>
    
    <li class="modal-products__item modal-products__item--icecoffee">
      <span class="modal-products__item-wrap modal-products__item-wrap--icecoffee">8,2g </span>
      <p class="modal-products__text">Fats</p>
    </li>
   
    <li class="modal-products__item modal-products__item--icecoffee">
      <span class="modal-products__item-wrap modal-products__item-wrap--icecoffee">40,4g </span>
      <p class="modal-products__text">Carbs</p>
    </li>
   
</ul>
<div class="modal-products__description">
Ingredients
<ul class="modal-products__ingredients"> 
  <li class="modal-products__contain">Lemon juice <span>1tbsp</span></li>
  <li class="modal-products__contain">Sugar <span>1tbsp</span></li>
  <li class="modal-products__contain">Cream <span>150ml</span></li>
  <li class="modal-products__contain">Cup cold water<span>¼</span></li>
  <li class="modal-products__contain">Rum <span>1fl.oz.</span></li>
  <li class="modal-products__contain">Double espresso shot<span>1</span></li>
</ul>
</div>
<form action="" class="modal-products__form">
    <ul class="modal-products__form-list">
        <li class="modal-products__form-item">
            <label for="name-coffee" class="form__label"
                >
                <input
                  type="text"
                  class="form__input "
                  name="name-coffee"
                  id="name-coffee"
                  placeholder="Name" />
                </li>
        <li class="modal-products__form-item">
            <label for="phone-coffee" class="form__label"></label>
              <input
                type="tel"
                class="form__input "
                name="phone-coffee"
                id="phone-coffee"
                placeholder="Phone"
              />
        </li>
        <li class="modal-products__form-item">
            <label for="text-coffee" class="form__label"></label>
              <textarea
                name="text-coffee"
                id="text-coffee"
                placeholder="Comment"
                class="form__input form__input--text"
              ></textarea>
        </li>
    </ul>
    <button class="form__button" type="button">Submit</button>
</form>
  </div>
</div>
