<div class="backdrop-products backdrop-products--is-hidden" data-modal-icecream>
  <div class="modal-products modal--icecream">
    <button class="modal-closebtn" type="button" data-modal-icecream-close>
      <svg class="modal-closebtn__icon" width="20" height="20">
        <use href="./images/header.svg#icon-closeblack"></use>
      </svg>
    </button>
      <p class="modal-products__title">Chololate 
icecream</p>
<div class="modal-products__img-wrap"></div>
<ul class="modal-products__list">
    <li class="modal-products__item">
      <span class="modal-products__item-wrap">320</span>
      <p class="modal-products__text">kcal</p>
    </li>
    <li class="modal-products__item">
      <span class="modal-products__item-wrap">4g</span>
      <p class="modal-products__text">Prote...</p>
    </li>
    
    <li class="modal-products__item">
      <span class="modal-products__item-wrap">8,2g </span>
      <p class="modal-products__text">Fats</p>
    </li>
   
    <li class="modal-products__item">
      <span class="modal-products__item-wrap">40,4g </span>
      <p class="modal-products__text">Carbs</p>
    </li>
   
</ul>
<div class="modal-products__description">
Ingredients
<ul class="modal-products__ingredients"> 
  <li class="modal-products__contain">Milk <span>100ml</span></li>
  <li class="modal-products__contain">Belgian chocolate <span>20g</span></li>
  <li class="modal-products__contain">Cream <span>150ml</span></li>
  <li class="modal-products__contain">Cocoa powder <span>30g</span></li>
  <li class="modal-products__contain">Sugar <span>40g</span></li>
  <li class="modal-products__contain">Vanilla sugar <span>10g</span></li>
</ul>
</div>
<form action="" class="modal-products__form">
    <ul class="modal-products__form-list">
        <li class="modal-products__form-item">
            <label for="name-cream" class="form__label"
                >
                <input
                  type="text"
                  class="form__input "
                  name="name-cream"
                  id="name-cream"
                  placeholder="Name" />
                </li>
        <li class="modal-products__form-item">
            <label for="phone-cream" class="form__label"></label>
              <input
                type="tel"
                class="form__input "
                name="phone-cream"
                id="phone-cream"
                placeholder="Phone"
              />
        </li>
        <li class="modal-products__form-item">
            <label for="text-cream" class="form__label"></label>
              <textarea
                name="text-cream"
                id="text-cream"
                placeholder="Comment"
                class="form__input form__input--text"
              ></textarea>
        </li>
    </ul>
    <button class="form__button" type="button">Submit</button>
</form>
  </div>
</div>
