.about {
    padding-top: 60px;
    background-color: $backgroundColor;
}

.about__label {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 12px;

    @include mq(tab) {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.23;
    }

    @include mq(desk) {
        font-size: 30px;
    }
}

.about__title {
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @include mq(tab) {
        font-size: 34px;
        letter-spacing: 0.06em;
    }

    @include mq(desk) {
        font-size: 36px;
    }
}

.about__list-wrap {
    position: relative;
    padding-top: 372px;
    display: flex;
    flex-direction: column;

    @include mq(mob-only) {
        align-items: center;
        justify-content: center;
    }

    @include mq(tab-only) {
        padding: 80px 20px 5px 385px;
        justify-content: left;
    }

    @include mq(desk) {
        padding: 172px 105px 92px 600px;
        justify-content: left;
    }

    &::before {
        content: '';
        background-color: $acentColorTransparent;
        width: 279px;
        height: 279px;
        border-radius: 50%;
        position: absolute;
        top: 32px;
        left: 50%;

        @include mq(mob-only) {
            transform: translateX(-50%);
        }

        @include mq(tab-only) {
            width: 334px;
            height: 334px;

            top: 72px;
            left: 17px;
        }

        @include mq(desk) {
            width: 500px;
            height: 500px;

            top: 82px;
            left: 0;
        }
    }

    &::after {
        content: '';
        background-image: url(..//images/about/about-cow-mobile-@1X-279x279-min.png);
        width: 279px;
        height: 279px;
        background-size: cover;
        position: absolute;
        top: 54px;
        left: 50%;
        z-index: 2;

        @include retina {
            background-image: url(..//images/about/about-cow-mobile-@2X-558x558-min.png);
        }

        @include mq(mob-only) {
            transform: translateX(-50%);
        }

        @include mq(tab-only) {
            background-image: url(..//images/about/about-cow-tablet-@1X-334x330-min.png);

            top: 98px;
            left: 17px;

            width: 334px;
            height: 330px;

            @include retina {
                background-image: url(..//images/about/about-cow-tablet-@2X-668x660-min.png);
            }
        }

        @include mq(desk) {
            background-image: url(..//images/about/about-cow-desktop-@1X-490x490-min.png);

            top: 121px;
            left: 5px;

            width: 490px;
            height: 490px;

            @include retina {
                background-image: url(..//images/about/about-cow-desktop-@2X-980x980-min.png);
            }
        }


    }


}


.about__item {
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: center;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-top: 0;


    @include mq(mob-only) {
        padding-left: 35px;
        padding-right: 35px;
        }
    @include mq(tab) {
        text-align: left;

    }
}

.about__first-item {
    margin-bottom: 4px;

    @include mq(tab) {
        margin-bottom: 8px;
    }

    @include mq(desk) {
        font-size: 16px;
    }
}

.about__second-item {
    line-height: 1.62;
    margin-bottom: 20px;
    @include mq(mob-only) {
        letter-spacing: 0;
    }    

    @include mq(tab) {
        line-height: 1.76;
        margin-bottom: 8px;
    }

    @include mq(desk) {
        line-height: 1.94;
        font-size: 14px;
    }
}

.about__last-item {
    @include mq(mob-only) {
        display: none;
    }

    @include mq(tab) {
        line-height: 1.94;
        margin-bottom: 48px;
    }

    @include mq(desk) {
        font-size: 14px;
    }
}

.about__button {
    width: 164px;
    height: 42px;
    padding: 12px, 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;

    border: none;

    @include mq(desk) {
        &:hover {
            background-color: $btnFocusColor
        }

        &:focus {
            color: $mainColorText;
            background-color: $btnFocusColor;
            fill: currentColor;
        }
    }
}

.about__icon {
    fill: $secondaryColorText;
    z-index: 3;
    margin-left: 5px;
}

.about__frame {
    border: none;
}