.contacts {
    padding-bottom: 40px;

    background-color: $backgroundColor;

    @include mq(desk) {
        padding-bottom: 120px;
    }
}

.contacts__container {
    position: relative;
    top: -345px;
    margin-bottom: -345px;

    @include mq(tab) {
        top: -304px;
        margin-bottom: -304px;
    }

    @include mq(desk) {
        top: -96px;
        margin-bottom: -96px;
    }

}

.contacts__card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;

    @include mq(tab) {
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        margin-bottom: 60px;
    }

    @include mq(desk) {
        margin-bottom: 64px;
        gap: 32px;
    }
}

.contacts__card {
    padding: 40px 32px;


    background-color: $mainColorText;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    color: $secondaryColorText;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0;

    @include mq(tab) {
        width: 224px;
        padding-left: 24px;
        padding-right: 24px;

        font-size: 14px;        
    }

    @include mq(desk) {
        width: 368px;
        padding-left: 40px;
        padding-right: 40px;

        font-size: 16px;
    }
}

.contacts__cafe-type {
    margin-bottom: 20px;
    padding: 0 23px;
    width: fit-content;

    background-color: $acentColor;
    border-radius: 4px;

    text-transform: uppercase;
    letter-spacing: 0.04em;

    @include mq(tab) {
        margin-bottom: 32px;
    }
}

.contacts__address {
    font-style: normal;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: $thirdCardColor;

    &:hover {
        text-decoration: underline;
    }
}

.contacts__address-part {
    display: block;
    margin-bottom: 8px;

    color: $secondaryColorText;

    @include mq(tab) {
        margin-bottom: 12px;
    }
}

.contacts__working-days {
    @include mq(desk) {
        letter-spacing: 0.04em;
    }
}

.contacts__working-hours {
    color: $timeColor;
    margin-bottom: 8px;

    @include mq(tab) {
        margin-bottom: 12px;
    }
}

.contacts__link {
    line-height: 1.5;
    color: $secondaryColorText;

    @include mq(tab) {
        line-height: 1.83;
        display: block;
    }
}

.contacts__buttons-wrap {
    @include mq(tab) {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}

.contacts__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 196px;
    height: 42px;
    margin: 0 auto;
    cursor: url(../images/header/3.png), pointer;

    border: 2px solid $acentColor;
    border-radius: 10px;
    background-color: transparent;
    outline: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0;

    transition: border-color $timeDuration,
    color $timeDuration,
    background-color $timeDuration;

    &:hover {
        border-color: $btnFocusColor;
    }

    &:focus {
        border-color: $btnFocusColor;
        color: $mainColorText;
    }

    &--yellow {
        margin-bottom: 16px;
        background-color: $acentColor;

        &:hover,
        &:focus {
            border-color: transparent;
            background-color: $btnFocusColor;
        }
    }

    @include mq(tab) {
        margin: 0;
    }
}

.contacts__button-icon {
    fill: currentColor;
}


.contacts__address::after,
.contacts__tel-link::before {
    content: '';
    display: block;
    margin: 24px 0;
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;

    @include mq(tab) {
        margin: 32px 0;
    }
}
