.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: $acentColor;
  color: $pureWhiteColor;
  cursor: pointer;

  opacity: 0;
  overflow: hidden;

  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 2500ms,
    overflow cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &.visible {
    opacity: 1;
    overflow: visible;
  }
}

.scroll-top:hover {
  color: $secondaryColorText;
}

.scroll-top__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
