.socials {
    display: flex;
    gap: 28px;
    margin-left: auto;

    @include mq(tab) {
        gap: 30px;
    }
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $acentColor;
    border-radius: 50%;

    @include mq(tab) {
        width: 34px;
        height: 34px;
    }

    transition: transform 500ms;

    &:hover {
        transform: scale(0.94);
    }

    &:focus {
        transform: scale(1.03);
    }

}

.socials__icon {
    fill: $backgroundColor;
    transition: fill $timeDuration;

    .socials__link:hover &,
    .socials__link:focus & {
        fill: $mainColorText;
    }
}