.button {
  font-family: 'Montserrat';
  display: inline-block;
  border-radius: 10px;
  cursor: url(../images/header/3.png), pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background-color: $acentColor;
  color: $secondaryColorText;
}
