.backdrop-hero {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(10, 136, 23, 0.25);
  opacity: 1;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  z-index: 550;
}
.backdrop-hero--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-buy {
  position: absolute;
  width: 280px;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 10px;
  background-color: $pureWhiteColor;
  border: 2px solid $acentColor;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);
  border-radius: 10px;
  z-index: 555;

  @media screen and (min-width: $tablet) {
    width: 568px;
    padding: 32px 55px;
    margin-top: 0;
  }
}

.header__modal-close-btn {
  position: absolute;
  top: 11px;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  cursor: pointer;
  background-color: $pureWhiteColor;
  transition: color 0.25s linear;

  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;
  }
  &:hover {
    fill: $acentColor;
  }
}
.header__modal-close-btn__icon {
  fill: $secondaryColorText;
}

.modal-buy__main-title {
  display: flex;
  justify-content: center;
  margin-bottom: 83px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  color: $secondaryColorText;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 103px;
  }
}

.modal-buy__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 84px;
  margin-bottom: 24px;
  padding: 0;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.modal-buy__item {
  position: relative;
  width: 132px;
  height: 136px;
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  &:hover,
  &:focus {
    background-color: #96af8c;
  }
  &:nth-child(2) {
    border: 2px solid #efd478;
    &:hover,
    &:focus {
      background-color: #efd478;
    }
  }
  &:nth-child(3) {
    border: 2px solid #d6936d;
    &:hover,
    &:focus {
      background-color: #d6936d;
    }
  }
}

.modal-buy__item-wrap {
  position: absolute;
  width: 131px;
  height: 132px;
  top: 50%;
  border-radius: 50%;
  transform: translate(-1%, -94%);
  &--icecream {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &--icecoffee {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }
  &--milkshake {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: $tablet) {
    width: 130px;
    height: 131px;
    transform: translate(-1%, -92%);
  }
}
.modal-buy__title {
  padding-top: 95px;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  @media screen and (min-width: $tablet) {
    padding-top: 95px;
    font-size: 16px;
    line-height: 1.22;
  }

  &--icecream {
    &::before {
      content: '';
      background-image: url(..//images/products/products_1s@1x.png);
      width: 132px;
      height: 132px;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      display: block;
      z-index: 2;
      @include retina {
        background-image: url(..//images/products/products_1s@2x.png);
      }

      @media screen and (min-width: $tablet) {
        width: 132px;
        height: 131px;

        transform: translate(-50%, -100%);
        background-image: url(..//images/products/products_1l@1x.png);
        @include retina {
          background-image: url(..//images/products/products_1l@2x.png);
        }
      }
    }
  }
  &--icecoffee {
    &::before {
      content: '';
      background-image: url(..//images/products/products_2s@1x.png);
      width: 132px;
      height: 132px;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      display: block;

      z-index: 2;
      @include retina {
        background-image: url(..//images/products/products_2s@2x.png);
      }

      @media screen and (min-width: $tablet) {
        width: 132px;
        height: 131px;
        transform: translate(-50%, -100%);
        background-image: url(..//images/products/products_2l@1x.png);
        @include retina {
          background-image: url(..//images/products/products_2l@2x.png);
        }
      }
    }
  }

  &--milkshake {
    &::before {
      content: '';
      background-image: url(..//images/products/products_3s@1x.png);
      width: 132px;
      height: 132px;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      display: block;
      z-index: 2;
      @include retina {
        background-image: url(..//images/products/products_3s@2x.png);
      }

      @media screen and (min-width: $tablet) {
        width: 132px;
        height: 131px;
        transform: translate(-50%, -100%);
        background-image: url(..//images/products/products_3l@1x.png);
        @include retina {
          background-image: url(..//images/products/products_3l@2x.png);
        }
      }
    }
  }
}
.modal-buy__form-item {
  margin: 0 auto;
  max-width: 224px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 768px) {
    max-width: 368px;
  }
}
.header-form__input {
  height: 32px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 7px;
  outline: transparent;
  width: 224px;
  border: 1px solid $backgroundColor;
  background-color: rgba(248, 210, 78, 0.1);
  border-radius: 10px;
  transition: border $timeDuration;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: $secondaryColorText;
  &:hover,
  &:focus {
    border: 1px solid $acentColor;
  }
  @media screen and (min-width: $tablet) {
    height: 42px;
    width: 368px;
    font-size: 14px;
    padding-left: 16px;
    padding-top: 11px;
  }
}

.header-form__input--text {
  width: 224px;
  height: 64px;
  resize: none;
  @media screen and (min-width: 768px) {
    height: 84px;
    width: 368px;
  }
}

.modal-buy__form-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.form__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  cursor: pointer;
  padding: 12px 34px;
  color: $secondaryColorText;
  background-color: $acentColor;
  box-shadow: 0px 4px 4px 0 6px 20px #0a881740;
  border-radius: 10px;
  border: hidden;
  transition: background-color $timeDuration, box-shadow $timeDuration;

  &:hover,
  &:focus {
    color: $acentColor;
    background: $btnFocusColor;
    box-shadow: 0px 4px 4px 0 6px 20px #0a881740;
  }
}
